     html, body {
            margin: 0;
            width: 100%;
            height: 100%;
            font-family: Arial, Helvetica, sans-serif;
        }
        #dialogText {
            color: #c8c9cc;
            background-color: #181819;
        }
        
        #dialogWrap {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: table;
            background-color: #353535;
        }
        
        #dialogWrapCell {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }
        
        #mainDialog {
            max-width: 400px;
            margin: 5px;
            border: solid #202121 1px;
            border-radius: 10px;
            box-shadow: 3px 3px 5px 3px #202121;
            margin-left: auto;
            margin-right: auto;
            background-color: #232323;
            overflow: hidden;
            text-align: left;
        }
        #mainDialog > * {
            padding: 10px 30px;
        }
        #passArea {
            padding: 20px 30px;
            background-color: #232323;
        }
        #passArea > * {
            margin: 5px auto;
        }
        #pass {
            width: 100%;
            height: 40px;
            font-size: 30px;
			color: #c8c9cc;
			background-color: #313131
        }
        #passwordPrompt {
			color: #c8c9cc
		}
        #messageWrapper {
            float: left;
            vertical-align: middle;
            line-height: 30px;
        }
        
        .notifyText {
            display: none;
        }
        
        #invalidPass {
            color: red;
			position: relative;
			top: 40px;
			left: 115px
        }
        
        #success {
            color: green;
			position: relative;
			top: 40px;
			left: 115px
        }
        
        #submitPass {
            font-size: 18px;
            border-radius: 6px;
            background-color: #353535; 
            border: solid #c8c9cc 1px;
            float: right;
            cursor: pointer;
			color: #c8c9cc;
			position:relative;
			top: 4px

        }
        #contentFrame {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        #attribution {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            padding: 10px;
            font-weight: bold;
            font-size: 0.8em;
        }
        #attribution, #attribution a {
            color: #999;
        }
        .error {
            display: none;
            color: red;
        }
